body
{
    background: #B37D4E;
}

h2  
{
    text-align: center;
}

ul
{
    border: 5px solid saddlebrown;
    border-radius: 10px;
    padding: 5% 7%; 
}

label 
{
    padding-top: 5px;
    clear: both;
    text-align: right;
    float:left;
    margin-right:15px;
}

button
{
    display: block;
    width: 100%;
}

input
{
    width: 347px;
    text-align: center;
}

img
{
    width: 1060px;
    margin-bottom: -110px;
    border-radius: 10px 10px 0 0;
}


.card
{
    margin-top: 50px;
}
.wrapper
{
    margin-top: 10%;
    width: 100%;
    background: white;
    padding: 50px;
    border-radius: 0 0 10px 10px;
}

.form
{
    margin: 10px auto 10px;
    width: 50%;
}